<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<link rel="stylesheet" th:href="@{/css/home2.css}">




	<script src="/src/main/resources/static/js/defolt.js"></script>
	<script src="/src/main/resources/static/js/geolocation.js"></script>
	<title>ホーム画面</title>
</head>

<body>
	
	
	
    </div>
	<script src="geolocation.js"></script>
	<script type="text/javascript">
		if (navigator.geolocation) {
			// 現在の位置情報を取得
			navigator.geolocation.getCurrentPosition(
				// （1）位置情報の取得に成功した場合
				function (pos) {
					var location = "<li>" + "緯度：" + pos.coords.latitude + "</li>";
					location += "<li>" + "経度：" + pos.coords.longitude + "</li>";
					document.getElementById("latitude").value = pos.coords.latitude;
					document.getElementById("longitude").value = pos.coords.longitude;
					document.getElementById("location").innerHTML = location;
				},
				// （2）位置情報の取得に失敗した場合
				function (error) {
					var message = "";

					switch (error.code) {

						// 位置情報が取得できない場合
						case error.POSITION_UNAVAILABLE:
							message = "位置情報の取得ができませんでした。";
							break;

						// Geolocationの使用が許可されない場合
						case error.PERMISSION_DENIED:
							message = "位置情報取得の使用許可がされませんでした。";
							break;

						// タイムアウトした場合
						case error.PERMISSION_DENIED_TIMEOUT:
							message = "位置情報取得中にタイムアウトしました。";
							break;
					}
					window.alert(message);
				}
			);
		} else {
			window.alert("本ブラウザではGeolocationが使えません");
		}
	</script>
	<header>
		<div class="main-menu">
				<div class="pc-menu">
					<ul>
						<li class="sp-menu__item"><a class="sp-menu__link" href="./home">Home</a></li>
						<li class="sp-menu__item"><a class="sp-menu__link" href="./stulogin">ログイン</a></li>
						<li class="sp-menu__item"><a class="sp-menu__link" href="./touroku">新規登録</a></li>
						<li class="sp-menu__item"><a class="sp-menu__link" href="./teacherlogin">教師用ログイン</a></li>
    					<li class="sp-menu__item"><a class="sp-menu__link" th:if="${showBackButton}" href="./search">検索</a></li>
						
					</ul>
				</div>
			</th:block>
			<th:block th:class="sp-menu">
				<input type="checkbox" id="sp-menu__check">
				<label for="sp-menu__check" class="sp-menu__box">
					<span></span>
				</label>
				<div class="sp-menu__content">
					<ul class="sp-menu__list">
						<li class="sp-menu__item"><a class="sp-menu__link" href="./home">Home</a></li>
						<li class="sp-menu__item"><a class="sp-menu__link" href="./stulogin">ログイン</a></li>
						<li class="sp-menu__item"><a class="sp-menu__link" href="./touroku">新規登録</a></li>
						<li class="sp-menu__item"><a class="sp-menu__link" href="./teacherlogin">教師用ログイン</a></li>
    					<li class="sp-menu__item"><a class="sp-menu__link" th:if="${showBackButton}" href="./search">検索</a></li>
						
					</ul>
				</div>
			</th:block>
		</div>
	</header>
	<main>
		<table class="table" border="1">

			<tr>
				<th class="size" th:text="${selectResult[0].name}"></th>
			</tr>
		</table>
		<!-- #distinct を使用してユニークな科目名のリストを取得 -->

            
<table class="table" border="2">
    <thead>
        <tr>
            <th></th> <!-- 左上の空白セル -->
            <th th:each="kaisu : ${selectResult3}" th:text="${'第' + kaisu.frequency + '回'}"></th>
        </tr>
    </thead>
    <tbody>
        <!-- ユニークな科目名のリストを取得 -->
        <th:block th:if="${not #lists.isEmpty(selectResult)}">
			<tr th:each="entry : ${data}">
				<td th:text="${entry.key}"></td>
				<td th:each="statusItem : ${entry.value}">
					<span th:text="${statusItem}"></span>
				</td>
			</tr>
        </th:block>		
				

    </tbody>
</table><br>

	<div class="btn-margin: text-center">
		<form th:action="@{/home}" method="POST">
			<input type="hidden" id="latitude" name="latitude">
			<input type="hidden" id="longitude" name="longitude">
			<input type="submit" value="出席する" class="btn btn-outline-primary btn-lg">
		</form>
	</div><br>



		
		<form th:action="@{/home/teacher}" method="post" class="text-center">
			

    <div style="display: flex; justify-content: center;">
        <input type="text" id="subject" name="subject" th:if="${showBackButton}" placeholder="科目名" />
        <input type="text" id="frequency" name="frequency" th:if="${showBackButton}" placeholder="授業回数" />
    </div>
	
	<select name = "status" th:if="${showBackButton}">
    	<option value="〇" id="status" name="status" th:if="${showBackButton}" placeholder="ステータス" />〇</option><br>
    	<option value="×" th:if="${showBackButton}">×</option>
    	
	</select>
    
    <div class="text-center">
        <button type="submit" th:if="${showBackButton}">更新する</button>
    </div>

</form>




	</main>

	

</body>

</html>