<!DOCTYPE html>
<html>
<head>
	    <meta charset="UTF-8">
 <link rel="stylesheet" th:href="@{/css/style.css}">
 <link rel="stylesheet" th:href="@{/css/seach.css}">
 
    <title>検索画面</title>
</head>
<body>
	
	<header>
  <div class="main-menu">

    <div class="pc-menu">
      <ul>
      <li class="sp-menu__item"><a  class="sp-menu__link" href="./home">Home</a></li>
      <li class="sp-menu__item"><a  class="sp-menu__link" href="./stulogin">ログイン</a></li>
      <li class="sp-menu__item"><a  class="sp-menu__link" href="./touroku">新規登録</a></li>
      <li class="sp-menu__item"><a  class="sp-menu__link" href="./teacherlogin">教師用ログイン</a></li>
      <li class="sp-menu__item"><a  class="sp-menu__link" href="./search">検索</a></li>
      
      </ul>
    </div>
    <div class="sp-menu">
      <input type="checkbox" id="sp-menu__check">
      <label for="sp-menu__check" class="sp-menu__box">
        <span></span>
      </label>
      <div class="sp-menu__content">
        <ul class="sp-menu__list">

      <li class="sp-menu__item"><a  class="sp-menu__link" href="./home">Home</a></li>
      <li class="sp-menu__item"><a  class="sp-menu__link" href="./stulogin">ログイン</a></li>
      <li class="sp-menu__item"><a  class="sp-menu__link" href="./touroku">新規登録</a></li>
      <li class="sp-menu__item"><a  class="sp-menu__link" href="./teacherlogin">教師用ログイン</a></li>
      <li class="sp-menu__item"><a  class="sp-menu__link" href="./search">検索</a></li>
      

        </ul>	
      </div>
    </div>
  </div>
 

</header>

    <h1>生徒検索</h1>
    <form class="form-wrapper cf" th:action="@{/search}"method="post">
    <input type="text" id="id" name="id" placeholder="学籍番号を入力してください" required = "required" />
    <button type="submit" class="btn btn-primary btn-block btn-large">検索</button>
    </form>
    
    <script type="text/javascript">
    function ID() {
        // IDが "id" の要素の値を取得
        var idValue = document.getElementById("id").value;

        // 現在のURLを取得
        var currentUrl = window.location.href;

        // 新しいURLにIDを追加
        var newUrl = currentUrl + "?id=" + idValue;

        // 新しいURLにリダイレクト
        window.location.href = newUrl;
    }
</script>


    
</body>
</html>